# Сборочные артефакты
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
*.VC.db
*.VC.opendb

# Rider
.idea/

# VS Code
.vscode/

# OS
Thumbs.db
.DS_Store

# Тестовые отчёты
TestResults/
[Tt]est[Rr]esult*/

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/
